* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin-top: 1rem;
}
.btn {
  background-color: #fff;
  border: 0.1rem solid black;
  padding: 0.2rem 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.active {
  background-color: #000;
  color: #fff;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
